{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
   <style>
    .header{
        height:100vh;
        width: 100%;
        background-image:url("static/images/dogmain.png");
        background-position: center;
        background-position:cover ;
        position: relative;
        color: black;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
   </style>
</head>
<body>
    <section class="header">
        <nav>
            <a href="./college.html" img src=""></a>
            <div class="nav-links">
                <i class="fa fa-times" aria-hidden="true"></i>

    
                <ul>
                    <li><a href="/login1">LOGIN HERE</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true"></i>

            </nav>
            <div class="text">
            <h1>PUPPIES</h1>
            <p>LOVE BEINGS</p>
            <a href="./college.html" class="btn">visit here</a>
            </div>
    </section>
    <section class="course">
        <h1>ABOUT DOGS</h1>
        <p>TOP RATED DOGS</p>
        <div class="row">
            <div class="course-col">
                <h3>German Shepherd</h3>
                <p>
                    The German Shepherd is a German breed of working dog of medium to large size. 
                     The breed was developed by Max von Stephanitz using various traditional German herding dogs from 1899.
                     It was originally bred as a herding dog, for herding sheep
                </p>
            </div>
            <div class="course-col">
                <h3>Labrador Retriever</h3>
                <p>
                    The Labrador Retriever or simply Labrador, is a British breed of retriever gun dog. 
                    It was developed in the United Kingdom from fishing dogs imported from the colony of Newfoundland, 
                    and was named after the Labrador region of that colony.
                
                </p>
            </div>
            <div class="course-col">
                <h3> Dobermann</h3>
                <p>
                    The Dobermann, or Doberman Pinscher in the U.S. and 
                    Canada, is a medium-large breed of domestic dog that was
                     originally developed around 1890 by Louis Dobermann, a tax collector from Germany. The Dobermann has a long muzzle.
                     It stands on its pads and is not usually heavy-footed
                    
                </p>
           
        </div>
    </section>
    <section class="campus">
        <h1>About Dogs</h1>
        <P>The dog is a domesticated descendant of the wolf. 
            Also called the domestic dog, it is derived from extinct Pleistocene
             wolves, and the modern wolf is the dog's nearest living relative. Dogs were the first species to 
            be domesticated by hunter-gatherers over 15,000 years ago before the development of agriculture. <br>
            technology to create a secure and engaging learning environment for students of all ages.</P>
           <center> <p style="text-align: left;margin-left: 40%;"><b>Lifespan:</b> 10 – 13 years<br>
                <b>Daily sleep:</b> 12 – 14 hours (Adult)<br>
                <b>Scientific name:</b> Canis lupus familiaris<br>
                <b>Gestation period:</b> 58 – 68 days<br>
                <b>Higher classification:</b> Wolf<br>
                <b>Family:</b> Canidae</p></center>
        <div class="row">
            <div class="campus-col">
                <img src="static/images/german.png" >
                <div class="layer">
                    <h3>German Shepherd</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="static/images/labrader.png" >
                <div class="layer">
                    <h3>Labrador Retriever</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="static/images/Dobermann.png" >
                <div class="layer">
                    <h3>Dobermann</h3>
                </div>
            </div>
        </div>
        </P>
    </section>
<section class="campus">
    <div class="row">
        <div class="campus-col">
            <img src="static/images/GoldenRetriever.png" >
            <div class="layer">
                <h3> Golden Retriever</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="static/images/Bulldog.png" >
            <div class="layer">
                <h3>Bulldog </h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="static/images/FrenchBulldog.png" >
            <div class="layer">
                <h3> French Bulldog</h3>
            </div>
        </div>
    </div>
    </P>
</section>    
<section class="campus">
    <div class="row">
        <div class="campus-col">
            <img src="static/images/SiberianHusky.png" >
            <div class="layer">
                <h3>Siberian Husky</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="static/images/AlaskanMalamute.png" >
            <div class="layer">
                <h3>Alaskan Malamute</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="static/images/FrenchBulldog.png" >
            <div class="layer">
                <h3>Samoyed</h3>
            </div>
        </div>
    </div>
    </P>
</section> 
<section class="facilities">
        <!-- <h1>OUR FACILITIES</h1>
        <p>Our Growing Campus is Home To Thousands of Students, Faculty and Staff Since 2009</p> -->

        <div class="row">
            
            <div class="faci-col">
                <img src="static/images/d1.jpeg">
                <b> <h3>
                <p>A dog is the only thing on earth that loves you more than he loves himself.</p>
                </h3></b>
            </div>

            <div class="faci-col">
                <img src="static/images/d2.jpeg">
                <b><h3>
                <p>Dogs are not our whole life, But they makes our lives whole. </p>
            </h3></b>
            </div>

            <div class="faci-col">
                <img src="static/images/d3.jpeg">
                <b><h3>
                <p>Dogs are better then humen beings becouse they know but do not tell.</p>
                </h3></b>
            </div>
        </div>
    </section>

    <section  class="cta">
        <h1>FOR MORE INFORMATION<br>ANYWHERE FROM KARNATAKA</h1>
        <a href="" class="btn">CONTACT US</a>
    </section>

    <section class="footer">
        <h4>ABOUT US</h4>
        <P>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
           <ion-icon name="logo-twitter"></ion-icon>


        </P>
        
    </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



</body>
</html>
